---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body>
        <p>
            <a href="/"><strong>Home</strong></a> 
            <a href="/about/"><strong>About</strong></a>
            <a href="/blog/"><strong>Blog</strong></a>
        </p>

        <h1>Mi Blog personal</h1>
        <p>Aqui es donde publicaré algunas cosas sobre mi vida!</p>
    </body>
</html>