---
const platform = 'github';
const username= 'danielfts';
const linkedinUrl = 'https://www.linkedin.com/in/daniel-felipe-trivino-santana/';
---

<footer>
    <hr>
    <p>
      Revisa algunos de mis proyectos en <a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noopener noreferrer">{platform}</a>!
    </p>
    <p>
      Tambien puedes seguirme en <a href={linkedinUrl} target="_blank" rel="noopener noreferer">Linkedin</a>
    </p>
</footer>